<?xml version="1.0" encoding="UTF-8" ?>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
		xmlns:ui="http://java.sun.com/jsf/facelets"
		xmlns:h="http://java.sun.com/jsf/html"
		xmlns:f="http://java.sun.com/jsf/core"
		xmlns:p="http://primefaces.org/ui"
		template="/WEB-INF/templates/general.xhtml">
	
	<ui:define name="title"><h:outputText value="Add Expense" /></ui:define>
	<ui:define name="header"><h:outputText value="Add Expense" /></ui:define>
	
	<ui:define name="content">
		<h:form id="expenseForm">
			<p:fieldset styleClass="fieldset" legend="Add Expense">
				<p:focus />
				<p:messages id="messages" globalOnly="true" />
			
				<h:panelGrid id="regPanelGrid" style="margin: 0 auto; margin-top: 25px; text-align: right" cellspacing="8" columns="3">

				
					<p:commandButton id="submitButton" action="expenseAdd" update="regPanelGrid,messages" icon="ui-icon-check" value="Add Expense" />
					
				</h:panelGrid>
			</p:fieldset>
		</h:form>
	</ui:define>
	
</ui:composition>