<?xml version="1.0" encoding="UTF-8" ?>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
		xmlns:ui="http://java.sun.com/jsf/facelets"
		xmlns:h="http://java.sun.com/jsf/html"
		xmlns:f="http://java.sun.com/jsf/core"
		xmlns:p="http://primefaces.org/ui"
		template="/WEB-INF/templates/general.xhtml">
	
	<ui:define name="title"><h:outputText value="Add Expense" /></ui:define>
	<ui:define name="header"><h:outputText value="Add Expense" /></ui:define>
	
	<ui:define name="content">
		<h:form id="expenseForm">
			<p:fieldset styleClass="fieldset" legend="Add Expense">
				<p:focus />
				<p:messages id="messages" globalOnly="true" />
			
				<h:panelGrid id="regPanelGrid" style="margin: 0 auto; margin-top: 25px; text-align: right" cellspacing="8" columns="3">
					
					<h:panelGroup>
						<h:outputText value="Expense Date:" />
						<h:outputText style="color:red" value="*  " />
					</h:panelGroup>
					
					<p:calendar id="expenseDate" label="Expense Date" value="#{expense.date}" pattern="dd-MM-yyyy" mask="true" required="true" title="Enter expense date!">
						
						<p:ajax event="keyup" update="expenseDateMsg" global="false"/>
					</p:calendar>
					<h:panelGroup>
						<p:message id="expenseDateMsg" for="expenseDate" />
						<p:tooltip for="expenseDate" styleClass="tooltip" showEvent="focus" hideEvent="blur" />
					</h:panelGroup>
					
					<h:panelGroup>
						<h:outputText value="Expense Amount" />
						<h:outputText style="color:red" value="*  " />
					</h:panelGroup>
					<p:inputText id="expenseAmount" label="Expense Amount" value="#{expense.amount}" required="true" title="Enter expense amount!">
						<f:validateLength minimum="1" />
						<p:ajax event="keyup" update="expenseAmountMsg" global="false"/>
					</p:inputText>
					<h:panelGroup>
						<p:message id="expenseAmountMsg" for="expenseAmount" />
						<p:tooltip for="expenseAmount" styleClass="tooltip" showEvent="focus" hideEvent="blur" />
					</h:panelGroup>
					
					<h:panelGroup>
						<h:outputText value="Expense Comment" />
						<h:outputText style="color:red" value="*  " />
					</h:panelGroup>
					<p:inputText id="expenseComment" value="#{expense.comment}" required="true" label="Expense Comment" title="Enter expense commnet!">
						<f:validateLength minimum="2" />
						<p:ajax event="keyup" update="expenseCommentMsg" global="false" />
					</p:inputText>
					<h:panelGroup>
						<p:message id="expenseCommentMsg" for="expenseComment" />
						<p:tooltip for="expenseComment" styleClass="tooltip" showEvent="focus" hideEvent="blur" />
					</h:panelGroup>
					
					
					<p:commandButton id="backToSignIn" action="backToExpense" immediate="true" icon="ui-icon-arrowreturnthick-1-w" value="Back Expense" />
					<p:commandButton id="submitButton" action="confirmAdd" update="regPanelGrid,messages" icon="ui-icon-check" value="Add Expense" />
					
				</h:panelGrid>
			</p:fieldset>
		</h:form>
	</ui:define>
	
</ui:composition>